body {
  background: #242424;
  color: #fff;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  /* justify-content: space-evenly;
  gap: 1rem; */
}